@font-face {
  font-family: "Monoton";
  src: url("../../../public/fonts/Monoton.ttf") format("truetype");
}

.monoton {
  font-family: "Monoton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blurBackdrop {
    position: relative;
    z-index: 2;
    padding: 1rem; 
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(255, 255, 255, 0.35);
  }
  

.backdropBackground {
  border-radius: 0.5rem;
  backdrop-filter: blur(7.4px);
  background-color: rgba(255, 255, 255, 0); 
  padding: 1rem; 
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  z-index: -1;
}

.luminosity {
  font-size:100px;
  color: #FFD5FF;
  position: absolute;
  font-family: monoton;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 400;
  letter-spacing: 7px;
  text-shadow: 
  1px 0px 4px #A0A0FF, 
  2px 0px 4px #A0A0FF, 
  3px 0px 4px #A0A0FF, 
  2px 0px 3px #4263CC, 
  2px 3px 15px #4263CC, 
  2px 0px 15px #4263CC, 
  5px 0px 125px #4263CC, 
  20px 0vw 200px #4263CC, 
  40px 0vw 200px #4263CC;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px
}

.flickerslow{
  animation: flicker 3s ease-in infinite;
}

.flickerfast{
  animation: flicker 1s ease-in infinite;
}

@keyframes flicker {
	0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
	}
	20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
		opacity: 0.2;
	}
}

.boxInput {
  width: 320px;
  padding: 8px 8px 8px 6px;
  box-sizing: border-box;
  font-size: 15px;
  overflow: hidden;
  height: 40px;
  border-bottom: 1px solid #fff;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  background: rgb(39 39 42);
  cursor: pointer;
}


.boxInput:focus {
  outline: none;
  border-bottom: none;
  color: #fff
}


.boxInput:focus ~ #bar, boxInput:valid ~ #bar {
  position: absolute;
  display: block;
  animation: gradient 3s linear infinite, barGradient 250ms linear;
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
  height: 3.3px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background-size: 500% auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#label {
  color: rgb(229 231 235);
  font-size: 19px;
  position: absolute;
  font-weight:normal;
  top:5px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px
}

.boxInput:focus ~ #label, boxInput:valid ~ #label    {
  top:-20px;
  font-size:13px;
  color: #0369a1;
}


@keyframes gradient { 
  0%{background-position:0 0;
  }
  100%{background-position:100% 0}
}

@keyframes barGradient {
  0% {
    transform: scaleX(0); /* Initially invisible */
  }
  100% {
    transform: scaleX(1); /* Fully visible */
  }
}

.contactBox {
  box-shadow: 
  0 4px 8px 0 rgba(0, 0, 0, 0.4), 
  0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.wavy {
  min-height: 110vh; 
  background: linear-gradient(to right, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6); /* Background image and gradient */
}