@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Merriweather"; /* Replace with your actual font name */
  src: url("../../public/fonts/Merriweather.ttf") format("truetype");
}

@font-face {
  font-family: "Monoton";
  src: url("../../public/fonts/Monoton.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  src: url("../../public/fonts/Lato.ttf") format("truetype");
}

@font-face {
  font-family: "Sans";
  src: url("../../public/fonts/OpenSans.ttf") format("truetype");
}

@font-face {
  font-family: "Lalezar";
  src: url("../../public/fonts/Lalezar.ttf") format("truetype");
}

@font-face {
  font-family: "RussoOne";
  src: url("../../public/fonts/RussoOne.ttf") format("truetype");
}

@font-face {
  font-family: "Lilita";
  src: url("../../public/fonts/Lilita.ttf") format("truetype");
}

@font-face {
  font-family: "DMSans";
  src: url("../../public/fonts/DMSans.ttf") format("truetype");
}

@font-face {
  font-family: "Syne";
  src: url("../../public/fonts/Syne.ttf") format("truetype");
}

.btn:hover {
  transform: scale(0.98);
  transition: all 0.2s ease-in-out;
}
